<%- include ('partials/header.ejs') %>


<%- include ('partials/main_nav.ejs') %>


 

  <!-- Main Content -->
  <main class="container position-relative mt-5">
    <!-- Banner with opaque background -->
    <div class="position-absolute top-0 start-50 translate-middle-x bg-dark bg-opacity-50 text-white text-center py-3 w-100">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
    <!-- Rest of the content -->
    <div class="content mt-5 pt-5">
      <!-- Add other content below the banner here -->
    </div>
  </main>



<%- include ('partials/bottom_nav.ejs') %>

 
<%- include ('partials/footer.ejs') %>